/*Using https://lospec.com/palette-list/apollo as a color palette*/

body {
  height: 95vh;
  width: 95vw;
  background-color: #172038;
  color: #c7cfcc;
  text-shadow: 2px 2px 2px #090a14;
}

button {
  background-color: #394a50;
  color: #c7cfcc;
  text-shadow: 2px 2px 2px #090a14;
  border: none;
  box-shadow: 2px 2px 2px #151d28;
  cursor: pointer;
  font-size: larger;
}

button:hover:not(.navBar-button-active) {
  background-color: #577277;
}

.help-text {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.has-help-text:hover > .help-text {
  display: inline-block;
  margin-left: 1em;
  visibility: visible;
  width: auto;
  height: auto;
}

.has-help-text:focus-within > .help-text {
  display: inline-block;
  margin-left: 1em;
  visibility: visible;
  width: auto;
  height: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.navBar-button-active {
  color: #ebede9;
  background-color: #172038;
  box-shadow: none;
}

.appGrid {
  display: grid;
  grid-template-rows: auto-fill;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.25em;
  justify-content: center;
  font-size: large;
  font-family: "Oswald", sans-serif;
}

.appGrid > h1 {
  grid-column: span 12;
}

.credits-text {
  height: 0;
  overflow: hidden;
}
.credits {
  width: 25px;
}

.credits:hover + .credits-text {
  height: auto;
  overflow: visible;
}

.fileButton {
  grid-column: span 6;
  margin: 0em 0.05em 0.5em;

  border-radius: 0.5em;
}

.div-RandoSettings {
  grid-column: span 12;
  margin: 0.25em;
}

.div-RandoSettings > button {
  border-radius: 0;
  font-size: medium;
}

.div-RomSettings {
  grid-column: span 12;
  margin: 0.25em;
  border: 2px solid gray;
}

.navBar {
  margin-top: -0.3em;
  margin-bottom: 0.5em;
}

.navBar > button {
  font-size: medium;
}

.centering-wrapper {
  text-align: center;
  margin: auto;
}

label {
  margin: 0 0.2em 0 0;
}

.jobMenu,
.mission-log,
.abilityMenu {
  display: grid;
  grid-template-rows: auto-fill;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.25em;
  justify-content: center;
}

.jobOptions,
.abilityOptions {
  grid-gap: 0.1em;
  grid-column: span 12;
  display: grid;
  grid-template-rows: auto-fill;
  grid-template-columns: repeat(12, 1fr);
  justify-items: left;
}

.mission-list {
  grid-column: span 9;
}

.mission-view {
  grid-gap: 1em;
  display: grid;
  grid-template-rows: auto-fill;
  grid-template-columns: repeat(12, 1fr);
  justify-items: left;
}

.mission-item-view {
  grid-column: span 3;
  justify-self: start;
}

.mission-item-view > div {
  position: sticky;
  top: 0;
}

.grid-full,
.jobOption,
.mission-complete,
.abilityOption {
  grid-column: span 12;
}

.mission-readOnly {
  grid-column: span 4;
}

.jobList {
  grid-gap: 0.1em;
  grid-column: span 12;
  display: grid;
  grid-template-rows: auto-fill;
  grid-template-columns: repeat(12, 1fr);
  justify-items: left;
}

.jobList > h3,
.mission-view > h3 {
  grid-column: span 12;
}

.jobListJob {
  grid-column: span 12;
}

.ability-toggle {
  grid-column: span 6;
}

.partyList {
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: auto-fill;
  grid-template-columns: repeat(12, 1fr);
  justify-items: left;
}

.partyMember,
.generalSettings,
.missionSettings {
  grid-column: span 12;
  display: grid;
  grid-template-rows: auto-fill;
  grid-template-columns: repeat(12, 1fr);
  justify-items: left;
}

.partyMemberOption,
.generalSettingsOption,
.missionSettingsOption {
  grid-column: span 12;
}

.logbook {
  margin: 1em;
  display: grid;
  grid: auto-flow max-content / repeat(12, 1fr);
  grid-gap: 1em;
  justify-content: space-around;
}

.item-view {
  border-radius: 20px;
  background-color: #819796;
  color: #ebede9;
  text-shadow: 2px 2px 2px #090a14;
  box-shadow: 0px 1px 4px #577277;
  grid-column: span 12;
  height: 75px;
  overflow: hidden;
}

.item-view:hover {
  background-color: #a8b5b2;
  height: auto;
}

.item-view > h3 {
  text-align: center;
}

.item-content {
  width: auto;
}

@media screen and (min-width: 480px) {
  .item-view {
    grid-column: span 6;
  }
  .fileButton {
    grid-column: span 6;
  }
  .partyMember {
    grid-column: span 6;
  }
  .jobList {
    grid-column: span 4;
  }

  .ability-toggle {
    grid-column: span 4;
  }
}

@media screen and (min-width: 720px) {
  .item-view {
    grid-column: span 4;
  }
  .fileButton {
    grid-column: span 3;
  }
  .partyMember {
    grid-column: span 4;
  }
  .jobList {
    grid-column: span 2;
  }
  .ability-toggle {
    grid-column: span 2;
  }
}
